.button {
	user-select: none;
	min-width: 35px;
	min-height: 35px;
	font-size: 1.3em;
	border-radius: 3px;
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 4px 2px 4px;
}

@media (hover: hover) {
	.button:not(.disabled):hover {
		background-color: #e0e0e0;
	}

	.button:not(.disabled):hover:has(.button:hover) {
		background-color: #ffffff;
	}
}

.button:not(.disabled):active {
	background-color: #c0c0c0;
}